.test-transition{-webkit-transition:all 0.5s ease-in 0.5s;-moz-transition:all 0.5s ease-in 0.5s;-ms-transition:all 0.5s ease-in 0.5s;-o-transition:all 0.5s ease-in 0.5s;transition:all 0.5s ease-in 0.5s;}
